# use "git clean -ndX" or "git status --ignored" to validate the effects of this file

/*
!/src/
!/scripts/
!/TODO.md
!/CHANGELOG.md
!/README.md
!/package.json
!/package-lock.json
!/.gitignore

/pkg/**
!/pkg/package.json

